body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-size: 18px; /* Aumenta el tamaño de la fuente en general */
}

.container-fluid {
    height: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #333;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.menu button {
    color: white;
    background: none;
    border: none;
    padding: 10px 300px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.menu button:hover {
    background-color: hsl(0, 0%, 33%);
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
    width: 100%;
    flex-wrap: wrap;
}

.box {
    position: relative;
    flex: 1;
    max-width: calc(33.33% - 50px);
    height: 80vh; /* Adjust the height as needed */
    background: #ddd;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    transition: transform 0.3s;
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:hover {
    transform: scale(1.05);
}

.questions {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(161, 161, 161, 0.37);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2em; /* Aumenta el tamaño de la fuente para las preguntas */
}

.questions h2 {
    margin-bottom: 20px;
}

.questions ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.questions li {
    background-color: #b9b7b7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2em; /* Aumenta el tamaño de la fuente para los elementos de la lista */
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el elemento */
    transition: background 0.3s;
}

.questions li:hover {
    background-color: #ddd;
}

.questions button:hover {
    background-color: #ddd;
}


.back-button, .video-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Aumenta el tamaño de la fuente del botón */
    transition: background 0.3s;
}

.back-button:hover, .video-button:hover {
    background-color: #555;
}

.video-container {
    position: fixed; /* Hace que el video se quede fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100vw;  /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    z-index: 9999; /* Asegura que el video esté por encima de otros elementos */
}

.video-frame {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que el video ocupe todo el espacio, manteniendo su relación de aspecto */
}

.exit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.exit-button:hover {
    background-color: #555;
}

.imagebox {
    background: black;
    padding: 0px;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

.imagebox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.8em; /* Tamaño de letra más grande */
    font-weight: bold; /* Negrita */
    text-transform: uppercase; /* Mayúsculas */
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px; /* Aumenta el tamaño de la fuente del botón */
    transition: background 0.3s;
    z-index: 1001; /* Asegura que el botón esté sobre el video */
}

.back-button:hover {
    background-color: #555;
}

.icon-button {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamaño de fuente más grande para los iconos */
    transition: background 0.3s;
    z-index: 1001; /* Asegura que el botón esté sobre el video */
}

.icon-button:hover {
    background-color: #555;
}

.icon-button:first-of-type {
    left: 20px;
}

.icon-button:last-of-type {
    left: 80px;
}

.question-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-button i {
    margin-right: 0;
}